body { background: #e70f2a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 29px; display: flex; }
.block-helper-0 { color: #8d65e8; font-size: 14px; margin-bottom: 5px; }
.block-auth-1 { color: #3161de; font-size: 16px; margin-bottom: 5px; }
.block-logger-2 { color: #8dbeb1; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #73aa36; font-size: 15px; margin-bottom: 5px; }
.block-notify-4 { color: #1f9819; font-size: 19px; margin-bottom: 5px; }